{% import 'components/macro/_light.html.twig' as macros %}

<section class="relative w-full h-[50vh]">

  {# LIGHT EFFECTS #}
  {{ macros.light('light small top-left') }}
  {{ macros.light('light small bottom-right') }}

  {{ macros.light_oval_purple('light large center') }}

  {{ macros.light_purple('light small top-right') }}
  {{ macros.light_purple('light small bottom-left') }}

  {{ macros.light_hexagone('light small hexagon-1') }}
  {{ macros.light_hexagone('light large hexagon-2') }}

</section>